﻿@model  OnlineShoppingSystem.Models.Payment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h2>New Payment</h2>


@using (Html.BeginForm("Create", "Payment", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}