﻿@model OnlineShoppingSystem.Models.OrderCartList

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/Content/Shopping/js/scripts.js"></script>
<link rel="icon" type="image/x-icon" href="~/Content/Shopping/assets/favicon.ico" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/Content/Shopping/css/styles.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<h2></h2>
<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li class="active" id=""><a href="javascript:void(0);">Delivery</a></li>
            @*<li class="completed" id=""><a href="javascript:void(0);">Delivery</a></li>*@
            <li><a href="javascript:void(0);">Payment</a></li>
          
        </ul>
        <form role="form" class="registration-form col-md- summary">

            <fieldset>
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Add Delivery Address</h3>
                        <p>
                            <div class="form-group">

                                <input type="text" name="form-first-name" placeholder="Preferred Address..." class="form-first-name form-control" id="address">
                            </div>
                        </p>
                    </div>

                </div>


                <div class="form-bottom">
                    <button type="button" id="saveBtn" class="btn btn-next">Next!</button>
                </div>
            </fieldset>

        </form>
    </div>
</div>

<script>

    $('#saveBtn').click(function () {
        var data = {
            DestinationAddress: $('#address').val()
        }

        CreateOrder(data);
    })

    function CreateOrder(data) {
        $.ajax({//Ajax is used for to call controller to get and post data.
            type: 'POST',
            url: '/Orders/CreateOrder', //Call Controller
            data: data,
            success: function (data) {
                if (data.status) {
                    console.log('Done')
                    alert('Successfully saved!');
                    window.location = data.url;
                }
                else {
                    console.log('Failed')
                    alert('Failed to Save!');
                }
            },
            error: function () {
                alert('Failed to Save!');
            }
        })
    }
</script>



<style>
    div.gallery {
        margin: 1px;
        border: 2px solid #ccc;
        float: left;
        width: 17%;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>





<!-- Javascript -->
<script src="~/Content/assets/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/assets/js/jquery.backstretch.min.js"></script>

<script src="~/Content/assets/js/retina-1.1.0.min.js"></script>
<script src="~/Content/assets/js/scripts.js"></script>


<style>
    .card {
        margin: auto;
        max-width: auto;
        width: 90%;
        height: 50%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    .col-2,
    .col {
        padding: 0 1vh
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    .row {
        margin: 0;
    }

    img {
        width: 6.5rem;
        height: 40%;
    }

    .breadcrumb {
        padding: 0px;
        background: #D4D4D4;
        list-style: none;
        overflow: hidden;
        margin-top: 20px;
    }

        .breadcrumb > li + li:before {
            padding: 0;
        }

        .breadcrumb li {
            float: left;
        }

            .breadcrumb li.active a {
                background: brown; /* fallback color */
                background: #ffc107;
            }

            .breadcrumb li.completed a {
                background: brown; /* fallback color */
                background: hsla(153, 57%, 51%, 1);
            }

            .breadcrumb li.active a:after {
                border-left: 30px solid #ffc107;
            }

            .breadcrumb li.completed a:after {
                border-left: 30px solid hsla(153, 57%, 51%, 1);
            }

            .breadcrumb li a {
                color: white;
                text-decoration: none;
                padding: 10px 0 10px 45px;
                position: relative;
                display: block;
                float: left;
            }

                .breadcrumb li a:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid hsla(0, 0%, 83%, 1);
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }

                .breadcrumb li a:before {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid white;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    margin-left: 1px;
                    left: 100%;
                    z-index: 1;
                }

            .breadcrumb li:first-child a {
                padding-left: 15px;
            }

            .breadcrumb li a:hover {
                background: #ffc107;
            }

                .breadcrumb li a:hover:after {
                    border-left-color: #ffc107 !important;
                }
</style>