﻿@model OnlineShoppingSystem.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Update Order Status</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderId)

       

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="OrderStatus" id="OrderStatus">
                    <option value="Order Processed">Order Processed</option>
                    <option value="Order Shipped">Order Shipped</option>
                    <option value="Order En Route">Order En Route</option>
                    <option value="Order Arrived">Order Arrived</option>
                </select>
                @Html.ValidationMessageFor(model => model.OrderStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

