﻿@model IEnumerable<OnlineShoppingSystem.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Shopping</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/Shopping/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Shopping/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Online Shopping</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Orders")">My Orders</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="@Url.Action("Index","Products")" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Products")">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>

                        </ul>
                    </li>
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    
    <div class="container body-content">
        <h2>Orders</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestinationAddress)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.RefNo)
                    </td>
                    <td>
                        R   @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationAddress)
                    </td>
                    <td>
                        @{
                            var id = item.OrderId;
                        }
                        @if (User.IsInRole("Customer"))
                        {
                            <button class="btn btn-success" onclick="trackOrder(@id)">Track Order</button>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <button class="btn btn-danger" onclick="editOrder(@id)">Update Order Status</button>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
        <script>
     function trackOrder(id) {
        var url = '@Url.Action("Track", "Orders")' +'/'+ id;
        window.location=url
    }
    function editOrder(id) {
        var url = '@Url.Action("Edit", "Orders")' +'/'+ id;
        window.location=url
    }
        </script>
</body>