﻿@model IEnumerable<OnlineShoppingSystem.Models.CartItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.AmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartQuantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.AmountPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartQuantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CartId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CartId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CartId })
        </td>
    </tr>
}

</table>
