﻿@model OnlineShoppingSystem.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerOccupation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
