﻿@model OnlineShoppingSystem.Models.SuppliedItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuppliedItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuppliedItemQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppliedItemQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
