﻿@model IEnumerable<OnlineShoppingSystem.Models.SuppliedItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuppliedItemQuantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuppliedItemQuantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierCode })
        </td>
    </tr>
}

</table>
