﻿@model IEnumerable<OnlineShoppingSystem.Models.CartItem>
@*<link href="~/Content/cartStyle.css" rel="stylesheet" />*@
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/Content/Shopping/js/scripts.js"></script>
<link rel="icon" type="image/x-icon" href="~/Content/Shopping/assets/favicon.ico" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/Content/Shopping/css/styles.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Shopping</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/Shopping/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Shopping/css/styles.css" rel="stylesheet" />
</head>
<style>
    div.gallery {
        margin: 1px;
        border: 2px solid #ccc;
        float: left;
        width: 17%;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Online Shopping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("Index","Home")">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="@Url.Action("Index")">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            @if (User.IsInRole("Customer"))
            {
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <a href="@Url.Action("CartItemsList")">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">@ViewBag.CartItemsNo</span>
                        </a>
                    </button>

                </form>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<style>
    .card {
        margin: auto;
        max-width: auto;
        width: 90%;
        height:50%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }
    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    .col-2,
    .col {
        padding: 0 1vh
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }
    .row {
        margin: 0;
    }

    img {
        width: 6.5rem;
        height: 40%;
    }

    </style>
<div class="container body-content">
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href='@Url.Action("Index")'>Back To Shopping</a></div>
    </div>
    @*<div style=" margin-bottom:5%"></div>*@
    <div class="card">
        <div class="row" style=" height: 100%;">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">@Model.Count() item(s)</div>
                    </div>
                </div>
                @{
                    var totalItems = 0;
                    var totPrice = 0;
                }

                @foreach (var item in Model)
                {
                    totalItems += item.CartQuantity;
                    totPrice += item.CartQuantity * item.Product.ProductPrice;
                    <div class="row">
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2">

                                    @{
                                        if (item.Product.ProductPic != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Product.ProductPic);
                                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                                            <img class="img-fluid" src='@imgsrc' />
                                        }
                                    }

                                </div>
                                <div class="col">
                                    <div class="row text-muted">@item.Product.ProductName</div>
                                    <div class="row">@item.Product.ProductSize</div>
                                    <div class="row">@item.Product.ProductColor</div>
                                </div>
                                @{
                                    var inputName = "q" + item.CartId;
                                }
                                <div class="col">  <input id="@inputName" value="@item.CartQuantity" /> </div>
                                <div class="col fas">&#82; @item.Product.ProductPrice <span onclick="deleteItem(@item.CartId)" class="close" style='font-size:24px'>&#xf2ed;</span></div>
                                <div class="col fas"><span onclick="updateQuantity(@item.CartId)" class="close" style='font-size:24px'>&#xf044;</span></div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="col-md-4 summary">
                <div>
                    <h5><b>Cart Summary</b></h5>
                </div>


                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL : ( @totalItems items) &#82; @totPrice</div>
                </div> <button class="btn btn-success" onclick="checkOut()">PROCEED TO CHECKOUT</button>
            </div>
        </div>
    </div>
</div>
<script>
    function checkOut() {

        window.location='@Url.Action("CreateOrder", "Orders")'

    }
    function deleteItem(id) {
        var data = {
            cartId:id
        }
        deleteCartItem(data);
    }
    function updateQuantity(id) {
        var nam = 'q' + id;
        var data = {
            cartId: id,
            quantity: $('#'+nam).val()
        }
        console.log(data);
       updateCartItem(data);
    }

    function updateCartItem(data) {
        $.ajax({//Ajax is used for to call controller to get and post data.
            type: 'POST',
            url: '/CartItems/UpdateCartItem', //Call Controller
            data: data,
            success: function (data) {
                if (data.status) {
                    console.log('Done')
                    alert('Successfully saved!');
                    window.location = data.url;
                }
                else {
                    console.log('Failed')
                    alert('Failed to Save!');
                }
            },
            error: function () {
                alert('Failed to Save!');
            }
        })
    }

    function deleteCartItem(data) {
        $.ajax({//Ajax is used for to call controller to get and post data.
            type: 'POST',
            url: '/CartItems/DeleteCartItem', //Call Controller
            data: data,
            success: function (data) {
                if (data.status) {
                    console.log('Done')
                    alert('Successfully Deleted!');
                    window.location = data.url;
                }
                else {
                    console.log('Failed')
                    alert('Failed to Delete!');
                }
            },
            error: function () {
                alert('Failed to Delete!');
            }
        })
    }
</script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>