﻿@model IEnumerable<OnlineShoppingSystem.Models.CartItem>

@{
    ViewBag.Title = "Index";
}

<h2>My Cart Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">
            @Html.DisplayNameFor(model => model.CartQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:120px;border: 1px solid #ccc">
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td style="width:120px;border: 1px solid #ccc">
                @Html.DisplayFor(modelItem => item.Product.ProductPrice)
            </td>
            <td style="width:120px;border: 1px solid #ccc">
                @Html.DisplayFor(modelItem => item.CartQuantity)
            </td>
            
        </tr>
    }
    
    @if (Model.Count()==0) {
    
        <label>No Items here</label>
    }
</table>
