﻿@model IEnumerable<OnlineShoppingSystem.Models.Product>

@{
    Layout = null;
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Shopping</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/Shopping/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Shopping/css/styles.css" rel="stylesheet" />
</head>
<style>
    div.gallery {
        margin: 1px;
        border: 2px solid #ccc;
        float: left;
        width: 17%;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

 
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Online Shopping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("Index","Home")">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                @if (User.IsInRole("Customer"))
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Orders")">My Orders</a></li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Departments")">Departments</a></li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Products")">Products</a></li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Orders")">Order Management</a></li>
                }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Products")">All Products</a></li>
                        </ul>
                    </li>
                </ul>
            @if (User.IsInRole("Customer"))
            {
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                      <a href="@Url.Action("CartItemsList")">  <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">@ViewBag.CartItemsNo</span>
                        </a>
                    </button>

                </form>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<h2>Products</h2>

<p>
   @if (User.IsInRole("admin"))
   {
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href='@Url.Action("Create")'>Create</a></div>
    </div>
   }
</p>



<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model)
            {

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->

                        @{
                            if (item.ProductPic != null)
                            {
                                var base64 = Convert.ToBase64String(item.ProductPic);
                                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                <a href='@Url.Action("Details", new { id = item.ProductId })'>
                                    <img class="card-img-top" src='@imgsrc' />
                                </a>
                                //<div class="desc">  @Html.DisplayFor(modelItem => item.ProductPrice)</div>
                                //@Html.DisplayFor(modelItem => item.ItemDesciption)
                            }
                        }
                        @* <img class="card-img-top" src="~/Content/Shopping/assets/download (1).jpg" alt="..." />*@
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@Html.DisplayFor(m => item.ProductName)</h5>
                                <!-- Product price-->
                                R @Html.DisplayFor(m => item.ProductPrice)
                            </div>
                        </div>
                        <!-- Product actions-->
                       @if (User.IsInRole("Customer"))
                       {
                        <button type="button" id="myBtn"  onclick="ModalData(@item.ProductId)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Add to Cart
                        </button>
                       }
                    </div>
                </div>

                            }
        </div>
    </div>
</section>

<!-- Button trigger modal -->
<!--<button type="button" id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please enter quantity</h5>
                <button type="button" id="closeIcon" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   <label>Quantity</label>
                    <div class="col-md-10">
                        <input type="number" name="CartQuantity" placeholder="Quantity..." class="form-first-name form-control" id="CartQuantity">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn"class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveBtn"  class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/Content/Shopping/js/scripts.js"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script>
    var productId = 0;
    var btn = document.getElementById('myBtn')
    var saveBtn = document.getElementById('saveBtn')
    var closebtn = document.getElementById('closeBtn')
    var closeIcon = document.getElementById('closeIcon')
    var modal = document.getElementById('exampleModalCenter')
    //btn.onclick = function () { $('#exampleModalCenter').modal('show'); }
    closeBtn.onclick = function () { $('#exampleModalCenter').modal('hide'); }
    closeIcon.onclick = function () { $('#exampleModalCenter').modal('hide'); }

    function ModalData(id) {

        var data = {
            ProductId: id,
            CartQuantity: 1
        }
        SaveCart(data);
    }

    $('#saveBtn').click(function () {
        var data = {
            ProductId: productId,
            CartQuantity: 1
        }

        SaveCart(data);
    })

    function SaveCart(data) {
        $.ajax({//Ajax is used for to call controller to get and post data.
            type: 'POST',
            url: '/Products/SaveCartItems', //Call Controller
            data: data,
            success: function (data) {
                if (data.status) {
                    console.log('Done')
                    alert('Successfully saved!');
                    window.location = data.url;
                }
                else {
                    console.log('Failed')
                    alert('Failed to Save!');
                }
            },
            error: function () {
                alert('Failed to Save!');
            }
        })
    }
</script>